.body {
  background-color: rgba(0, 0, 0, 0.6);
  height: 140%;
  .container-custom {
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 6rem;
    }

    .header__banner {
      background-position: top center;
      background-size: cover;
      width: 100%;
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 4rem;
        margin-left: 3rem;
        margin-bottom: 6rem;
        margin-top: 8rem;
        color: lightgray;
      }

      .header__buttons {
        display: flex;

        button {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 20px;
          padding: 15px 40px; // TOP BOTTOM = 15px,  RIGHT LEFT = 40px
          border-radius: 5px;
          outline: none;
          border: none;
          margin-left: 50px;
          cursor: pointer;

          mat-icon {
            transform: scale(1.25);
          }
        }

        button.play-button {
          span {
            font-weight: 600;
            font-size: 24px;
          }

          mat-icon {
            transform: scale(1.5);
          }
        }

        button.more-button {
          background-color: rgba(112, 113, 109, 0.7);

          mat-icon {
            color: lightgray;
          }

          span {
            font-size: 24px;
            font-weight: 500;
            color: white;
          }
        }
      }
    } /*BANNER ENDS*/

    .header__main {
      display: flex;
      padding: 20px;
      width: 100%;
      justify-content: space-between;
      z-index: 10;
      position: fixed;
      top: 0;
      transition: all 0.3s;
      transition-timing-function: ease-in;

      &.sticky {
        background-color: #012a4a;
        z-index: 100;
      }
    }

    .header__left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 50px;

      img {
        margin-left: 40px;
        height: 100%;
        width: 100px;
        margin-top: 5px;
      }

      li.active {
        a {
          color: white;
        }
      }
    }

    .header__right ul {
      flex: 1;
      margin-right: 20px;
      display: flex;
      align-items: center;
      gap: 30px;
      li button {
        background-color: transparent;
        border: none;
        mat-icon {
          color: white;
          &:hover {
            cursor: pointer;
            color: #a4a4a4;
          }
        }
      }
      li a {
        color: white;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        > mat-icon {
          margin-top: 5px;
          font-weight: 600;
        }
      }
    }

    .body {
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 20px;
      position: relative;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      display: inline-block;
      width: fit-content;
      text-decoration: none;
      cursor: pointer;
      color: #a4a4a4;
      font-size: 14px;
      font-weight: 600;
      font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
      transition: all 0.2s ease;

      &:hover {
        color: #696969;
      }
    }
  }
  //comienza body




  .banner {
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .select-seats {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
  }
  .movie-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
  }
  .movie-content__poster {
    display: flex;
    position: absolute;
    flex: 1;

    top: 6rem;
  }

  @media only screen and (max-width: 600px) {
    .movie-content__poster {
      display: none;
    }
  }

  .movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;

    width: 240px;
    height: 330px;
  }
  .movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;
    top: 5rem;
    left: 16rem;
  }

  .movie-content__info > * {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 1024px) {
    .movie-content__info {
      width: 100%;
    }
  }
  .movie-content__info .title {
    font-size: 4rem;
    line-height: 1;
    color: white;
  }
  .movie-content__info .movie-content__info > * ~ * {
    margin-left: 0.5rem;
  }
  .movie-content__info .gender__item,
  .format__item,
  .duration__item {
    margin-left: 0.4rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    background-color: #0f0f0f;
  }

  .movie-content__info .ticketValue {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }

  .movie-content__info .button_dropdown .schedule_ {
    margin-left: 0.4rem;
    margin-right: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

    border-radius: 30px;

    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .movie-content__info .button_dropdown .schedule_:hover {
    box-shadow: unset;
    color: #1059ff;
    background-color: #fff;
  }
  .button_dropdown {
    h2 {
      color: #fff;
      border-radius: 25px;
      width: fit-content;
    }
  }
  .reservation__button {
    gap: 10px;
    align-items: center;
    font-size: 20px;
    padding: 10px 15px; // TOP BOTTOM = 15px,  RIGHT LEFT = 40px
    border-radius: 20px;
    background-color: #012a4a;
    outline: none;
    border: 2px white;
    color: white;
    margin-left: 50px;
    cursor: pointer;

    &:hover {
      background-color: #1059ff;
    }
  }
  .movie-content__info .synopsis {
    font-size: 20px;
    color: #fff;
  }
}
