<form [formGroup]="formSignup" (ngSubmit)="onRegister(formSignup.value)">
  <div class="container">
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <select
            id="documentType"
            class="form-control"
            name="documentType"
            placeholder="Tipo de documento"
            formControlName="documentType"
          >
            <option value="" selected disabled>Tipo de documento</option>
            <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
            <option value="Cédula de extranjería">Cédula de extranjería</option>
            <option value="Tarjeta de identidad">Tarjeta de identidad</option>
          </select>

          <small
            class="form-text text-muted"
            *ngIf="
              documentType?.invalid &&
              (documentType?.dirty || documentType?.touched)
            "
          >
            Tipo de documento es requerido
          </small>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            name="document"
            id="document"
            placeholder="Documento"
            formControlName="document"
          />

        <div *ngIf="document?.invalid && (document?.dirty || document?.touched)">
          <small
          class="form-text text-muted"
          *ngIf="document?.errors?.required"
        >
          Documento es requerido</small
        >

          <small
          class="form-text text-muted"
          *ngIf="document?.errors?.pattern"
        >
          Debe contener una longitud mínima de 6 números y un máximo de 12
        </small>
        </div>


        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Nombre"
            formControlName="firstName"
          />

          <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
            <small
            class="form-text text-muted"
            *ngIf="firstName?.errors?.required"
          >
            Debes ingresar tu nombre</small
          >

            <small
            class="form-text text-muted"
            *ngIf="firstName?.errors?.pattern"
          >
            Solo puede contener letras
          </small>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Apellido"
            formControlName="lastName"
          />

          <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
            <small
            class="form-text text-muted"
            *ngIf="lastName?.errors?.required"
          >
            Debes ingresar tu apellido</small
          >

            <small
            class="form-text text-muted"
            *ngIf="lastName?.errors?.pattern"
          >
            Solo puede contener letras
          </small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <small class="form-text text-muted" *ngIf="email?.errors?.required">
              Email es requerido</small
            >
            <small class="form-text text-muted" *ngIf="email?.errors?.pattern">
              El email introducido no es valido
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <small
              class="form-text text-muted"
              *ngIf="password?.errors?.pattern"
            >
              Debe contener una longitud de 5 caracteres, una letra minuscula,
              una mayuscula y un numero
            </small>
            <small
              class="form-text text-muted"
              *ngIf="password?.errors?.required"
            >
              Debe introducir una contraseña</small
            >
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group padd">
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <div
            *ngIf="
              confirmPassword?.invalid &&
              (confirmPassword?.dirty || confirmPassword?.touched)
            "
          >
            <small
              class="form-text text-muted"
              *ngIf="confirmPassword?.errors?.required"
            >
              Debe confirmar su contraseña
            </small>
            <small
              class="form-text text-muted"
              *ngIf="confirmPassword?.errors?.MustMatch"
            >
              Las contraseñas no coinciden
            </small>
          </div>
        </div>
      </div>
    </div>

    <hr />
  </div>
  <button
    class="btn btn-primary mt-2"
    type="submit"
    data-dismiss="modal"
    [disabled]="formSignup.invalid"
  >
    <i class="fas fa-sign-in-alt"></i> Registrarse
  </button>

</form>
