<div class="container-custom">
  <div
    class="header__main"
    id="stickyHeader"
    [class.sticky]="sticky"
    #stickHeader
  >
    <div class="header__left">
      <a routerLink="/">
        <img src="../assets/cidenetPicTransparent.png" alt="logo" />
      </a>
      <ul>
        <li ><a href="">Inicio</a></li>
        <li><a href="movies">Peliculas</a></li>
        <li  *ngIf="isLogged"><a href="reservations">Mis Reservas</a></li>
        <li *ngIf="isLogged && isAdmin" class="active">
          <div ngbDropdown class="d-inline-block ">
            <a  id="dropdownBasic1" ngbDropdownToggle>Administrar</a>
            <div ngbDropdownMenu class ="custom-dropdown" aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Peliculas</button>
              <button ngbDropdownItem>Presentaciones</button>
              <button ngbDropdownItem>Salas</button>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="header__right">
      <ul>
        <li>
          <a *ngIf="isAdmin">Bienvenido Admin</a
          ><a *ngIf="!isAdmin">Bienvenido {{ email }}</a>
        </li>
        <li>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Icon-button with a menu"

          >
            <mat-icon>account_circle</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <div class="menu__container">
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="isLogged">
                <span>{{ email }}</span>
              </button>

              <button mat-menu-item>
                <mat-icon *ngIf="!isLogged">input</mat-icon>
                <span *ngIf="!isLogged" routerLink="/login"
                  >Iniciar Sesión</span
                >
                <mat-icon *ngIf="isLogged">exit_to_app</mat-icon>
                <span *ngIf="isLogged" (click)="onLogOut()"
                  >Cerrar sesión
                </span>
              </button>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="movies-table mt-5">
    <div class="row" style="margin-left: -80px;">
      <div class="col-lg-8 offset-lg-2">
        <div class="card" style="width: 1000px;">
          <div class="card-body text-center">
            <span class="title">LISTADO DE PELICULAS</span>
            <button class="btn btn-success new-movie" routerLink='/create-movies'>Nuevo</button>

            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Géneros</th>
                  <th scope="col">Duración</th>
                  <th scope="col">Formato</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cartelera</th>
                  <th scope="col">Proximamente</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movie of movies">
                  <td>{{movie.title}}</td>
                  <td>{{movie.genre}}</td>
                  <td>{{movie.duration}}</td>
                  <td>{{movie.format}}</td>
                  <td>{{movie.price}}</td>
                  <td>{{movie.billboard}}</td>
                  <td>{{movie.comingSoon}}</td>
                  <td class="edit"><mat-icon (click)="selectedMovie(movie.id)">edit</mat-icon></td>
                  <td class="delete" (click)="open(content)"><mat-icon>delete</mat-icon></td>


                  <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h1 class="modal-title" id="modal-basic-title">Eliminar Pelicula</h1>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     ¿Seguro que quiere eliminar la pelicula?
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-success btn-md" (click)="onDelete(movie.id)">Confirmar</button>
                      <button type="button" class="btn btn-secondary btn-md" aria-label="Close" (click)="d('Cross click')">Cancelar</button>
                    </div>
                  </ng-template>
                </tr>


              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
